* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--roboto);
  max-width: 100vw;
  position: relative;
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --roboto: "Roboto", sans-serif;
  --shrikhand: "Shrikhand", cursive;
  --primary: #9356dc;
  --secondary: #ff79da;
  --tertiary: #99e2d0;
  --gray-background: #f6f6f6;
  --light-blue: #f5edff;
  --new-color: #008765ee;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 60px;
}
header img {
  width: 160px;
  object-fit: contain;
}
header i {
  position: absolute;
  top: 19px;
  left: 25px;
  font-size: 22px;
}

main {
  max-width: 100%;
}

.restaurant-image img {
  height: 260px;
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  background: var(--gray-background);
  width: 100%;
  padding: 20px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  transform: translateY(-35px);
}
.menu .restaurant-name {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.menu .restaurant-name h1 {
  font-family: var(--shrikhand);
  font-size: 26px;
  margin: 15px 0;
  font-weight: 400;
}
.menu .restaurant-name .heart {
  margin-right: 25px;
  width: 25px;
  height: 25px;
  position: relative;
}
.menu .restaurant-name .heart .fa-heart {
  font-size: 25px;
}
.menu .restaurant-name .heart .fa-solid {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  animation: scaleDown 1s alternate;
}
.menu .restaurant-name .heart .fa-regular {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.menu .restaurant-name .heart:hover .fa-solid {
  animation: scaleUp 1.5s alternate;
  display: block;
  background-image: linear-gradient(30deg, var(--secondary), var(--primary));
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.menu .restaurant-name .heart:hover .fa-regular {
  opacity: 0;
}
@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.03);
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(0);
  }
}
.menu .plate-type {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.menu .plate-type h2 {
  font-weight: 400;
  font-size: 16px;
}
.menu .plate-type .underline-bar {
  width: 40px;
  height: 3px;
  background: var(--tertiary);
  margin-top: 5px;
}
.menu .plate-type li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 70px;
  margin-top: 10px;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
}
.menu .plate-type li .plate-text {
  min-width: 150px;
  margin-left: 15px;
  white-space: nowrap;
  flex: 1;
}
.menu .plate-type li .plate-text h3 {
  font-size: 18px;
  margin-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .plate-type li .plate-text p {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .plate-type li .plate-price {
  margin: 30px 20px 0px 10px;
  font-weight: bold;
}
.menu .plate-type li .plate-like {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0px;
  height: 100%;
  color: var(--tertiary);
  background: var(--tertiary);
  visibility: hidden;
  transition: min-width 0.6s, visibility 0.6s;
}
.menu .plate-type li .plate-like i {
  padding: 2px;
  border-radius: 50%;
  background: white;
  font-size: 0px;
  transition: font-size 0.5s;
}
.menu .plate-type li:hover .plate-like {
  min-width: 60px;
  visibility: visible;
}
.menu .plate-type li:hover .plate-like i {
  font-size: 16px;
  animation: 0.5s rotate-like;
}
@keyframes rotate-like {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=indexMenupage.css.map */
