@import "mixins.scss";

// header

header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 60px;
  img {
    width: 160px;
    object-fit: contain;
  }
  i {
    position: absolute;
    top: 19px;
    left: 25px;
    font-size: 22px;
  }
}

// contenu central principal
main {
  max-width: 100%;
}

// image restaurant

.restaurant-image {
  img {
    height: 260px;
    width: 100%;
    object-fit: cover;
  }
}

// section menu

.menu {
  display: flex;
  flex-flow: column nowrap;
  background: var(--gray-background);
  width: 100%;
  padding: 20px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  transform: translateY(-35px);

  .restaurant-name {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-family: var(--shrikhand);
      font-size: 26px;
      margin: 15px 0;
      font-weight: 400;
    }
    .heart {
      margin-right: 25px;
      @include heart;
    }
  }

  .plate-type {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    h2 {
      font-weight: 400;
      font-size: 16px;
    }
    .underline-bar {
      @include underline-bar;
    }

    // listes des plats
    li {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      height: 70px;
      margin-top: 10px;
      border-radius: 20px;
      background: white;
      box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
      .plate-text {
        min-width: 150px;
        margin-left: 15px;
        white-space: nowrap;
        flex: 1;
        h3 {
          font-size: 18px;
          margin-bottom: 7px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        p {
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .plate-price {
        margin: 30px 20px 0px 10px;
        font-weight: bold;
      }
      .plate-like {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 0px;
        height: 100%;
        color: var(--tertiary);
        background: var(--tertiary);
        visibility: hidden;
        transition: min-width 0.6s, visibility 0.6s;

        i {
          padding: 2px;
          border-radius: 50%;
          background: white;
          font-size: 0px;
          transition: font-size 0.5s;
        }
      }
      &:hover {
        .plate-like {
          min-width: 60px;
          visibility: visible;
          i {
            font-size: 16px;
            animation: 0.5s rotate-like;
          }
          @keyframes rotate-like {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}
