@import "mixins.scss";

// header

header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 60px;
  img {
    width: 160px;
    object-fit: contain;
  }
  i {
    position: absolute;
    top: 19px;
    left: 25px;
    font-size: 22px;
  }
}

// contenu central principal

main {
  max-width: 100%;
  background: var(--gray-background);
}

// image restaurant

.restaurant-image {
  img {
    height: 260px;
    width: 100%;
    object-fit: cover;
    transition: height 0.4s;
  }
}

// section menu

.menu {
  display: flex;
  flex-flow: column nowrap;
  background: var(--gray-background);
  width: 100%;
  padding: 20px 10px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  transform: translateY(-35px);
  .menu-container {
    display: flex;
    flex-flow: column nowrap;
  }

  // H1 restaurant et Coeur

  .restaurant-name {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-family: var(--shrikhand);
      font-size: 26px;
      margin: 15px 0;
      font-weight: 400;
    }
    .heart {
      margin-right: 25px;
      @include heart;
    }
  }

  // liste (entrées / plats / desserts)

  .plate-type {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    h2 {
      margin-left: 10px;
      font-weight: 400;
      font-size: 16px;
    }
    .underline-bar {
      margin-left: 10px;
      @include underline-bar;
    }

    // listes des plats

    li {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      width: 100%;
      height: 70px;
      margin-top: 10px;
      border-radius: 20px;
      background: white;
      box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
      opacity: 0;
      &:nth-child(1) {
        animation: delayLoading 1s 1 forwards;
        transition: none;
      }
      &:nth-child(2) {
        animation: delayLoading 1s 1 forwards;
        animation-delay: 0.25s;
        transition: none;
      }
      &:nth-child(3) {
        animation: delayLoading 1s 1 forwards;
        animation-delay: 0.5s;
        transition: none;
      }
      .plate-text {
        flex-basis: 100%;
        min-width: 150px;
        margin-left: 15px;
        white-space: nowrap;
        h3 {
          font-size: 17px;
          margin-bottom: 7px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        p {
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .plate-price {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        font-weight: bold;
        span {
          padding-top: 25px;
        }
      }
      .plate-like {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 0px;
        height: 100%;
        color: var(--tertiary);
        background: var(--tertiary);
        transform: translateX(60px);
        transition: transform 0.8s, min-width 0.8s;

        i {
          padding: 2px;
          border-radius: 50%;
          background: white;
          transition: transform 0.8s;
        }
      }
      &:hover {
        .plate-price {
          transition: all 0.5s;
        }
        .plate-like {
          min-width: 60px;
          transform: translateX(0px);
          i {
            animation: 0.7s rotateLike;
            animation-delay: 0.1s;
          }
          @keyframes rotateLike {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
      @keyframes delayLoading {
        0% {
          transform: translateY(50px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  // bouton commander

  .btn-order {
    @include btn-style;
    width: 210px;
    margin: 30px 0;
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: white;
    background: linear-gradient(#e771da, #a65cdc);
    font-size: 16px;
    align-self: center;
  }
}

// footer

footer {
  @include footer;
}
