@import "mixins.scss";

// header

header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 60px;
  img {
    width: 160px;
    object-fit: contain;
  }
  i {
    position: absolute;
    top: 19px;
    left: 25px;
    font-size: 22px;
  }
}

// contenu central principal
main {
  max-width: 100%;
}

// image restaurant

.restaurant-image {
  img {
    height: 260px;
    max-width: 100%;
    object-fit: cover;
  }
}

// section menu

.menu {
  display: flex;
  flex-flow: column nowrap;
  background: var(--gray-background);
  width: 100%;
  padding: 20px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  transform: translateY(-35px);

  .restaurant-name {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-family: var(--shrikhand);
      font-size: 26px;
      margin: 15px 0;
      font-weight: 400;
    }
    .heart {
      margin-right: 25px;
      @include heart;
    }
  }

  .plate-type {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    h2 {
      font-weight: 400;
      font-size: 16px;
    }
    .underline-bar {
      @include underline-bar;
    }
  }
}
