@import "mixins.scss";

// LOADING SCREEN

.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
  left: 0px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35vh;
  animation: loadingScreen 1 4s forwards;
  @keyframes loadingScreen {
    66% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  img {
    position: sticky;
    width: 160px;
    object-fit: contain;
    margin-bottom: 30px;
  }
  i {
    position: sticky;
    font-size: 40px;
    color: var(--primary);
    animation: rotateSpinner 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2;
    @keyframes rotateSpinner {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

// header

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 60px;
  img {
    width: 160px;
    object-fit: contain;
  }
}

main {
  max-width: 100%;
}

// partie localisation

.current-location {
  display: flex;
  height: 50px;
  background-color: #eaeaea;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 3px 5px 0px #ccc;
  span {
    margin: 0 20px;
    font-weight: bold;
  }
  transition: height 0.4s;
}

// partie reservation

.booking {
  width: 100vw;
  padding: 30px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  background: var(--gray-background);
  transition: background 2s, height 0.5s;
  h1 {
    margin: 0 0 20px 0;
  }
  p {
    font-size: 18px;
  }
  .btn-explore-restaurants {
    @include btn-style;
    width: 210px;
    margin: 30px 0;
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: white;
    background: linear-gradient(#e771da, #a65cdc);
    font-size: 16px;
  }
}

// partie fonctionnement, composez votre menu

.compose-menu {
  padding: 50px 20px;
  h2 {
    margin-bottom: 30px;
  }
  li {
    display: flex;
    justify-content: stretch;
    align-items: center;
    border-radius: 20px;
    margin: 0 10px 20px 10px;
    width: 95%;
    height: 75px;
    background: var(--gray-background);
    list-style: none;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    cursor: pointer;

    .num-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--primary);
      padding: 10px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      transform: translateX(-10px);
      span {
        font-size: 14px;
        color: white;
      }
    }

    i {
      margin-left: 10%;
      margin-right: 20px;
      font-size: 20px;
      color: #7e7e7e;
    }

    p {
      font-weight: bold;
      flex: 1;
    }

    &:hover {
      background: var(--light-blue);
      i {
        color: var(--primary);
      }
    }
  }
}

// restaurants liste

.restaurants {
  display: flex;
  flex-flow: column nowrap;
  padding: 50px 20px 60px 20px;
  background: var(--gray-background);
  ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    transition: width 0.4s;
    li {
      margin-top: 20px;
      position: relative;
      list-style: none;
      height: 250px;
      width: 100%;
      border-radius: 20px;
      max-width: 440px;
      background: white;
      overflow: hidden;
      box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15);
      transition: box-shadow 0.4s;
      cursor: pointer;
      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.17);
      }
      .new {
        font-style: var(--roboto);
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: bold;
        background: var(--tertiary);
        padding: 6px 11px;
        color: var(--new-color);
        border-radius: 3px;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 175px;
      }
      .card-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        background: white;
        width: 100%;
        height: 75px;
        h3 {
          margin-bottom: 5px;
        }
        .heart {
          @include heart;
        }
      }
    }
  }
}

// footer

footer {
  @include footer;
}
